---
name: _build_yocto
description: Reusable workflow for Yocto Build

on:
  workflow_call:
    inputs:
      repo:
        description: 'Repo Name'
        required: false
        type: string
      ref:
        description: 'Branch or tag name'
        required: false
        type: string
      sha:
        description: Head sha of the PR
        type: string
        required: true
      rootfs_matrix:
        description: 'Rootfs matrix for Yocto Parallel builds'
        required: true
        type: string
      kernel_ver:
        description: Kernel version
        type: string
        required: true
    outputs:
      artifacts_location:
        description: 'Artifacts Upload location'
        value: ${{ jobs.compile_yocto.outputs.artifacts_location }}

env:
  CACHE_DIR: /efs/kernel/meta-qcom

jobs:
  kas-setup:
    runs-on:
      group: GHA-Kernel-Stg-SelfHosted-RG
      labels: [self-hosted, kernel-stg-u2404-x64-large-od-ephem]
    steps:
      - name: Update kas-container
        run: |
          KAS_CONTAINER=$RUNNER_TEMP/kas-container
          echo "KAS_CONTAINER=$KAS_CONTAINER" >> $GITHUB_ENV
          LATEST=$(git ls-remote --tags --refs --sort="v:refname" https://github.com/siemens/kas | tail -n1 | sed 's/.*\///')
          wget -qO ${KAS_CONTAINER} https://raw.githubusercontent.com/siemens/kas/refs/tags/$LATEST/kas-container
          chmod +x ${KAS_CONTAINER}

      - name: Upload kas-container
        uses: actions/upload-artifact@v4
        with:
          name: kas-container
          path: ${{ env.KAS_CONTAINER }}

  compile_yocto:
    needs: kas-setup
    name: Build Yocto
    runs-on:
      group: GHA-Kernel-SelfHosted-RG
      labels: [self-hosted, kernel-prd-u2404-x64-large-od-ephem]
    outputs:
      artifacts_location: ${{ steps.build_yocto.outputs.artifacts_location }}
      workspace_path: ${{ steps.sync.outputs.workspace_path }}
    strategy:
      fail-fast: false
      matrix:
        rootfs_matrix: ${{ fromJson(inputs.rootfs_matrix) }}

    steps:
      - name: Build Yocto
        id: build_yocto
        uses: qualcomm-linux/kernel-config/.github/actions/build_yocto@main
        with:
          workspace_path: ${{ github.workspace }}
          s3_bucket: qli-prd-kernel-gh-artifacts
          rootfs: ${{ matrix.rootfs_matrix.rootfs }}
          kernel_ver: ${{ inputs.kernel_ver }}
          sha: ${{ inputs.sha }}
          CACHE_DIR : ${CACHE_DIR}
          kas: ${{ env.KAS_CONTAINER }}
        env:
          token: ${{ secrets.PAT }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}