name: _comment 
description: Adds job status for tests on PR 

on:
  workflow_call:
    inputs:
      pr_number:
        description: Pull Request Number 
        type: string
        required: true

      sha:
        description: Head SHA for PR  # Expecting full SHA 
        type: string
        required: true

      repo:
        description: Target Repository  # Assuming format "owner/repo"
        type: string
        required: true

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: Download Job Info Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Aggregate Job Info results
        run: |
          sha=$(echo "${{ inputs.sha }}" | cut -c1-7)
          commit_url="https://github.com/${{ inputs.repo }}/commit/${{ inputs.sha }}"
          echo "# Test jobs on [$sha]($commit_url)" > job_info_summary.md
          cat artifacts/*/*.md >> job_info_summary.md 

      - name: Add Comment on PR
        run: |
          msg=$(cat job_info_summary.md)
          json=$(jq -n --arg msg "$msg" '{body: $msg}')
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ inputs.repo }}/issues/${{ inputs.pr }}/comments \
          -d "$json" 

  publish:
    name: Publish LAVA results
    if: always()
    runs-on: ubuntu-latest

    steps:
      - name: Download all Json artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: Tests-*
          path: all-json
          merge-multiple: true

      - name: List Json files
        run: |
          echo "Collected Json files:"
          find all-json -type f -name '*.json' -maxdepth 4 | sort

      - name: Generate access token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APPID }}
          private-key: ${{ secrets.PVK }}
          owner: ${{ github.repository_owner }}

      - name: Parse json files
        run: |
          #!/usr/bin/env bash
          set -e

          INPUT_DIR="all-json/"
          OUTPUT="summary.md"

          # Collect file list
          FILES=("$INPUT_DIR"/*.json)

          # Extract target names (filenames without .json)
          TARGETS=()
          for f in "${FILES[@]}"; do
            base=$(basename "$f" .json)
            TARGETS+=("$base")
          done

          # Build list of ALL test names
          TESTS=$(grep -ho '"name"[ ]*:[ ]*"[^"]*"' "$INPUT_DIR"/*.json \
            | sed 's/.*"name"[ ]*:[ ]*"//' | sed 's/"$//' \
            | sort -u)

          # Start table
          echo "# Test Matrix" > "$OUTPUT"
          echo "" >> "$OUTPUT"

          # Header
          printf "| Test Case " >> "$OUTPUT"
          for t in "${TARGETS[@]}"; do
            target_name="${t#Tests-}"
            printf "|     %s     " "$target_name" >> "$OUTPUT"
          done
          printf " | \n" >> "$OUTPUT"

          # Separator
          printf "| --- " >> "$OUTPUT"
          for _ in "${TARGETS[@]}"; do
            printf "| ---- " >> "$OUTPUT"
          done
          printf "|\n" >> "$OUTPUT"

          # Build rows
          for test in $TESTS; do
            printf "| %s " "$test" >> "$OUTPUT"

            for t in "${TARGETS[@]}"; do
              file="$INPUT_DIR/$t.json"
              # Extract the result for this test
              res=$(grep -A1 "\"name\" *: *\"$test\"" "$file" 2>/dev/null \
                | grep '"result"' \
                | sed 's/.*"result"[ ]*:[ ]*"//' | sed 's/"$//' \
                || true)
              echo "Salendar : $res"
              case "$res" in
                pass) cell="✅ Pass" ;;
                fail) cell="❌ Fail" ;;
                skip) cell="⚠️ skip" ;;
                error) cell="⛔ Error" ;;
                *)    cell="◻️" ;;   # missing
              esac

              printf "| %s " "$cell" >> "$OUTPUT"
            done

            printf "|\n" >> "$OUTPUT"
          done

          echo ""
          echo "[OK] Generated table: $OUTPUT"

      - name: Post results to PR
        run: |
          #echo '${{ steps.publish_test.outputs.json }}' > test-results.json
          #CONTENT=$(jq -Rs . < test-results.json)
          DATA=$(jq -n --rawfile body summary.md '{body: $body}')

          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ inputs.repo }}/issues/${{ inputs.pr }}/comments \
          -d "$DATA"
